    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0px;
    }
    
    .left {
        position: fixed;
        background-color: rgb(52, 50, 53);
        width: 20%;
        height: 100vh;
    }
    
    .right {
        position: absolute;
        width: 80%;
        margin-left: 20%;
    }
    
    .profile {
        margin: 20px auto;
        width: 100px;
    }
    
    .profile img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .menu div {
        text-align: center;
        background-color: black;
        margin-top: 3px;
    }
    
    .menu a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 5px;
    }
    
    .menu a:hover {
        color: blue;
        background-color: antiquewhite;
    }
    
    .first {
        border-left: 2px solid rgb(255, 0, 170);
    }
    
    .second {
        border-left: 2px solid rgb(3, 250, 85);
    }
    
    .third {
        border-left: 2px solid rgb(4, 0, 255);
    }
    
    .four {
        border-left: 2px solid rgb(187, 255, 0);
    }
    
    .five {
        border-left: 2px solid rgb(0, 174, 255);
    }
    
    .container1 {
        height: 250px;
        position: sticky;
        top: 0px;
        background-image: url(./images/nature.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-bottom: 20px solid white;
    }
    
    .headings {
        width: 50%;
        position: absolute;
        text-align: center;
        margin: 5% 25%;
        color: rgb(255, 255, 255);
    }
    
    .headings h3 {
        margin: 0;
        font-size: x-large;
    }
    
    .headings a {
        text-decoration: none;
        color: white;
        background-color: rgb(55, 141, 199);
        padding: 5px 10px;
    }
    
    .menubar>img {
        display: none;
    }
    
    .message {
        width: 85%;
        margin: auto;
        text-align: center;
        border-bottom: 2px solid orange;
    }
    
    .message h2 {
        color: rgb(15, 136, 250);
    }
    
    .container3 {
        width: 85%;
        margin: auto;
        margin-top: 10px;
    }
    
    .container3 span {
        background-color: orange;
        color: white;
        padding: 10px 10px;
    }
    
    .galery {
        display: flex;
        margin: 50px 0;
        column-gap: 10px;
    }
    
    .image {
        width: 33%;
    }
    
    .image img {
        max-width: 100%;
        height: 350px;
    }
    
    .image h4,
    .image p {
        text-align: center;
    }
    
    h4 {
        color: orange;
    }
    
    .container4 {
        width: 85%;
        margin: auto;
        border-bottom: 2px solid rgb(167, 0, 245);
    }
    
    .container4 img {
        max-width: 100%;
        height: 150px;
        margin-top: 20px;
    }
    
    .container4 div {
        display: flex;
    }
    
    .container5 {
        width: 85%;
        margin: auto;
        margin-top: 10px;
        border-bottom: 2px solid green;
    }
    
    .container5 span {
        background-color: rgb(167, 0, 245);
        color: white;
        padding: 10px 10px;
    }
    
    .list {
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
    }
    
    .list div {
        background-color: rgb(167, 0, 245);
        padding: 10px 15px;
        text-align: center;
        color: white;
    }
    
    .skills {
        display: grid;
        grid-template-columns: 65% 35%;
    }
    
    .head {
        color: rgb(167, 0, 245);
    }
    
    .in {
        background-color: rgb(235, 225, 225);
        margin: 10px;
        border-radius: 5px;
    }
    
    .graphics {
        width: 90%;
        background-color: rgb(167, 0, 245);
        text-align: center;
        color: white;
        border-radius: 5px;
    }
    
    .html {
        width: 75%;
        background-color: rgb(167, 0, 245);
        text-align: center;
        color: white;
        border-radius: 5px;
    }
    
    .word {
        width: 66%;
        background-color: rgb(167, 0, 245);
        text-align: center;
        color: white;
        border-radius: 5px;
    }
    
    .market {
        width: 88%;
        background-color: rgb(167, 0, 245);
        text-align: center;
        color: white;
        border-radius: 5px;
    }
    
    .container6 {
        width: 85%;
        margin: auto;
        margin-top: 10px;
        border-bottom: 2px solid rgb(211, 1, 117);
    }
    
    .container6 span {
        background-color: green;
        color: white;
        padding: 10px 10px;
    }
    
    .container6 h4 {
        color: green;
    }
    
    .load {
        width: max-content;
        background-color: green;
        color: white;
        padding: 10px 15px;
        margin: 0 auto 30px;
    }
    
    .container7 {
        width: 85%;
        margin: 10px auto 30px;
    }
    
    .container7 span {
        background-color: rgb(211, 1, 117);
        color: white;
        padding: 10px 10px;
    }
    
    iframe {
        margin: 50px 0;
        height: 400px;
        width: 100%;
    }
    
    .bio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 50px;
        column-gap: 10px;
    }
    
    .bio input {
        width: 100%;
        height: 30px;
        box-shadow: 0px 0px 6px 0px;
        border: none;
        border-radius: 5px;
        margin-top: 5px;
    }
    
    .comment {
        height: 200px;
        width: 100%;
        box-shadow: 0px 0px 6px 0px;
        border: none;
        border-radius: 5px;
        margin: 5px 0 20px;
    }
    
    .submit {
        background-color: rgb(211, 1, 117);
        color: white;
        padding: 10px 15px;
        border: none;
    }
    
    .container8 {
        background-color: rgb(58, 57, 57);
    }
    
    .logo {
        width: 150px;
        margin: auto;
        padding: 30px 0;
    }
    
    img {
        max-width: 100%;
    }
    
    .copyright {
        background-color: black;
        color: white;
        padding: 20px 0 20px;
    }
    
    .copyright h5 {
        width: 85%;
        margin: auto;
    }
    
    @media (max-width:567px) {
        .left {
            display: none;
        }
        .right {
            width: 100%;
            margin-left: 0%;
        }
        .container1 {
            height: 200px;
        }
        .menubar img {
            max-width: 100%;
            display: block;
        }
        .menubar {
            display: block;
            width: 30px;
            position: fixed;
            top: 10px;
            left: 5px;
            width: 20px;
            height: auto;
            z-index: 1;
        }
        .menubar:hover .left {
            display: block;
            width: 70%;
            position: fixed;
            z-index: 1;
        }
        .profile {
            width: 50px;
        }
        .profile img {
            width: 50px;
            height: 50px;
        }
        .headings {
            margin: 0%;
            text-align: center;
            width: 100%;
            padding: 20px 0;
        }
        .galery {
            display: block;
            margin: 20px 0;
        }
        .image {
            width: 100%;
        }
        .container4 div {
            display: block;
        }
        .list {
            display: block;
        }
        .list div {
            margin-bottom: 10px;
        }
        .skills {
            display: block;
        }
        .bio {
            display: block;
        }
        .bio div {
            margin-top: 10px;
        }
    }