* {
    box-sizing: border-box;
}

body>h4 {
    color: aliceblue;
    text-align: center;
    padding: 7 px;
    background-color: rgb(70, 66, 66);
}

.firstcontainer {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.left {
    width: 30%;
    display: flow-root;
    overflow: auto;
}

.left img {
    width: 100%;
    border: 25px solid rgb(255, 255, 255);
}

h1 {
    color: rgb(104, 105, 105);
    font-weight: 600;
}

.right {
    width: 60%;
    display: flow;
    overflow: auto;
}

ul {
    display: flex;
}

.right li {
    list-style: none;
    width: 250px;
}

.lhs {
    font-weight: 600;
}

.links {
    display: inline-block;
}

.contact {
    color: white;
    background-color: red;
    padding: 10px 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: inline-flex;
}

.download {
    background-color: #0980f5;
    padding: 10px 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: white;
    display: inline-flex;
}

.secondcontainer {
    background-color: rgb(197, 197, 197);
    justify-content: center;
    padding-bottom: 30px;
    width: 100%;
}

.head {
    text-align: center;
    padding: 25px;
    font-weight: 900;
}

.skills {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.box {
    background-color: white;
    width: 20%;
    text-align: center;
    box-shadow: 0px 0px 14px 3px;
}

.box h3 {
    font-size: medium;
}

.thirdcontainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin: auto;
    width: 85%;
}

.thirdcontainer li {
    list-style: none;
    border: 10px solid white;
    padding-left: 15px;
}

.study {
    display: inline-block;
    list-style: none;
    width: 100%;
    background-color: #edefef;
}

.education,
.experience {
    width: 50%;
}

div>ul {
    padding-left: 0px;
}

.fourthcontainer {
    background-color: #edefef;
    justify-content: center;
    padding-bottom: 30px;
}

.fourthcontainer h3 {
    text-align: center;
    padding: 25px 0px 10px;
    width: 100%;
}

.images {
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.images img {
    width: 100%;
}

.cart {
    display: flex;
    padding: 10px;
    width: 33%;
}

.lastcontainer {
    background-color: black;
    padding-bottom: 30px;
}

.lastcontainer div {
    display: flex;
    justify-content: center;
    color: white;
}

.lastcontainer img {
    width: 150px;
    padding: 50px 0px 20px;
}